@-webkit-keyframes slide{
	50%{-webkit-transform:translate(400px,0px) rotateY(90deg);}
	100%{-webkit-transform:translate(675px,0px) rotateY(180deg);}
}

@-webkit-keyframes colors{
  0%{-webkit-transform:translate(0px,109px); background-color:red;}
25%{-webkit-transform:translate(0px,218px); background-color:orange;}
50%{-webkit-transform:translate(0px,327px); background-color:yellow;}
75%{-webkit-transform:translate(0px,436px); background-color:green;}
100%{-webkit-transform:translate(0px,545px); background-color:blue;}
}

.kitten{
	position:absolute;
	bottom:0px;
	-webkit-animation:slide 1.5s linear infinite alternate;
	transform-origin:left;
}
div{
  width:100px;
  position:absolute;
  left:400px;
}
.ball{
	position:absolute;
	bottom:550px;
	width:100px;
	height:100px;
	border-radius:50%;
	background-color:violet;
	-webkit-animation:colors 1s linear infinite alternate;
}

